/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../images/wood.jpg');
    background-position: center;
    color: #f7fdff;
    text-shadow: 1px 1px 3px black;
    font-family: 'Questrial', sans-serif;
  }

  video {
    border: 1px solid black;
    z-index: -5;
  }

  button {
    margin-top: 15px;
    height: 30px;
    width: 90px;
    background-color: red;
    color: white;
    font-weight: 800;
    font-size: 130%;
  }

  .filterify{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .main-title {
    padding: 5px;
    margin: 5px;
    margin-bottom: -5px;
    font-family: 'Yatra One', cursive;
    font-size: 340%;
  }

  .sub-title {
    padding: 5px;
    margin: 5px;
  }

  li {
    list-style: none;
  }

  .filters-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: 100%;
    flex-wrap: wrap;
  }

  .filter-list-item {
    padding: 10px;
  }

  .filter-name {
    padding-bottom: 5px;
    margin: 0px;
    text-align: center;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .value {
    margin-top: -30px;
    margin-left: 95px;
    font-weight: 900;
    user-select: none;
    color: black;
    text-shadow: none;
  }

  .slider {
    -webkit-appearance: none;
    width: 200px;
    height: 30px;
    background: rgba(220, 220, 220, 0.45);
    outline: none;
    border: 1px solid gray;
    box-sizing: border-box;
   }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: lightblue;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 300, 1));
    z-index: 5;
    opacity: 0.5;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: lightblue;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 300, 0.5));
    cursor: pointer;
    border: 3px solid black;
    box-sizing: border-box;
  }


/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

@media only screen and (max-width: 480px) {
    /* insert styles here */
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
